<% locals.pageTitle = 'Index' %>
<%- include ./_fragments/head %>
<div class="container">
    <header>
        <%- include ./_fragments/navbar %>
    </header>

    <hr>

    <article>
        <h2>Account</h2>

        <dl>
            <dt>Gebruikersnaam</dt>
            <dd><%= user.name %></dd>
            <dt>E-mail</dt>
            <dd><%= user.email %></dd>
        </dl>
        <a role="button" href="#" class="btn btn-sm btn-primary" data-toggle="modal"
            data-target="#modal-edit-user">Wijzigen</a>

        <div class="modal fade" id="modal-edit-user" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <form id="form-edit-user" method="post" class="modal-content" autocomplete="off">
                    <input type="hidden" name="username" value=<%= user.name %>>
                    <div class="modal-header bg-primary text-light">
                        <h5 class="modal-title">Account wijzigen</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-fw fa-chevron-up text-light"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-12">
                                <label for="email">E-mail</label>
                                <input type="email" id="email" name="email" class="form-control"
                                    value="<%= user.email %>" required />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-info">Opslaan</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Niet opslaan</button>
                    </div>
                </form>
            </div>
        </div>
    </article>
</div>
<%- include ./_fragments/tail %>